@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600.favoritedisplay=swap');

:root {
	--background: #353535;
	--white: white;
	--yellow: #ebd96b;
	--grey: #c3c3c3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: var(--background);
	padding: 0 100px;
}
button {
	outline: none;
	border: 0;
	width: 120px;
	height: 50px;
	border-radius: 10px;
}
.btn {
	background: black;
	color: var(--white);
}

/* header */

header {
	display: flex;
	padding: 50px 0;
	justify-content: space-between;
	color: var(--white);
	font-weight: 400;
}
header .logo {
	display: flex;
	gap: 30px;
	align-items: center;
}
header ul {
	display: flex;
	gap: 50px;
	list-style: none;
	align-items: center;
	font-weight: 300;
}

header button {
	background: white;
	font-weight: bold;
}

/* main */
/* preview */

main {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.priview {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: whitesmoke;
	border-radius: 50px;
	width: 100%;
	height: 600px;
    
}
.priview .img {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.priview__text {
    display: flex;
    align-items: flex-start;
	padding: 0 100px;
	flex-direction: column;
    justify-content: center;
	gap: 50px;
}
.priview__text p:nth-child(1){
	font-size: 50px;
	font-weight: 600;
}
.priview__blockBtn {
	display: flex;
	align-items: center;
	gap: 30px;
}
.img img {
	width: 75%;
	height: 85%;
}

/* partners */

.partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	padding: 0 150px;
	margin: 0 -100px;
	background: var(--yellow);
}

/* NEW ARRIVALS */
.new__arrivals {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.text {
	display: inline-flex;
	position: relative;
	font-size: 48px;
	font-weight: 600;
	color: white;
}
.text p {
	z-index: 4;
}
.arrivals__product {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.product {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.product img {
	border-radius: 25px;
	width: 100%;
	height: 100%;
}
.product__text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--grey);
}
.text b {
	color: white;
}

/* payday */

.payday {
	margin: 0 -100px;
}

.payday__inner {
	display: flex;
	gap: 60px;
	width: 100%;
	background-color: var(--yellow);
}

.payday__girl {
	width: 50%;
}

.payday__girl img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.payday__info {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.payday__title {
	font-weight: 900;
	font-size: 90px;
	line-height: 137px;

	color: #000000;
}

.payday__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 52px;
	letter-spacing: -0.02em;

	color: #231300;
}

.payday__date {
	font-size: 24px;
	letter-spacing: -0.02em;

	color: #000000;
}

/* favorite */

.favorite {
	display: flex;
	flex-direction: column;
	gap: 50px;
	color: var(--white);
}

.favorite__title {
	font-weight: 900;
	font-size: 48px;
	letter-spacing: 0.06em;
	margin-bottom: 120px;
}

.favorite__row {
	display: flex;
	gap: 50px;
}

.favorite__column {
	flex: 0 1 50%;
}
.favorite__item img {
	width: 100%;
	margin-bottom: 20px;
}

.favorite__bot {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.favorite__name {
	font-weight: 500;
	color: var(--white);
	letter-spacing: -0.04em;
}

.favorite__text {
	letter-spacing: -0.04em;
	color: var(--grey);
}

.favorite__arrow {
	font-size: 24px;
}

.newsletter {
	background-color: var(--yellow);
}

.newsletter__inner {
	padding: 140px 0;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	font-weight: 900;
	color: #ffffff;
}

.newsletter__title {
	font-size: 55px;
	line-height: 70px;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}

.newsletter__text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 32px;
	line-height: 35px;
	letter-spacing: 0.03em;
}

.newsletter__input {
	display: flex;
	max-width: 300px;
	margin: 0 auto;
	background-color: var(--white);
	color: black;
	padding: 10px;
	border-radius: 10px;
}

.newsletter__input input {
	border: none;
	flex: 1;
	outline: none;
}

.footer {
	background-color: black;
	padding: 120px 100px;
	color: var(--white);
}

.footer__inner {
	display: flex;
}

.footer__left {
	flex: 1;
}

.footer__name {
	font-weight: 900;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}

.footer__text {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.02em;

	color: #8e8e8e;
}

.footer__socials {
	display: flex;
	gap: 20px;
}


.footer__right {
	display: flex;
	gap: 100px;
}

.footer__col {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__col-text {
	color: #8e8e8e;
}
